body {
    margin: 0px;
    padding: 0px;
    font-family: "Iceland";
}


.titulo-dragon {
    font-size: 40px;
    text-align: center;
    font-family: "Jost";
}

.caracteristicas {
    font-size: 24px;
    text-align: center;
}

.precio {
    font-size: 40px;
    text-align: center;
}
