body {
    font-family: "Iceland", monospace !important;
    font-optical-sizing: auto !important;
    font-size: 20px;
}

section{
    background-image: url(nave_fondo.png);
    background-size:cover;
    background-position: center; 
    height: 90vh;
}

.jost{
    font-family: "Jost", monospace !important;
    font-optical-sizing: auto !important;
    font-weight: 700;
    font-size: 20px;

}

.btn-reserva{
   
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);  
    display: inline-block;
      
}